<!DOCTYPE html>
<html lang="tr">


<head>
    <meta charset="utf-8"/>
    <title>Registration Page</title>
    <link rel="stylesheet"  href="~/Views/Product/StyleSheet.css" >
</head>


<body>
    
    <div class="kayit">
        <div class="kutu">
            <h5>Registration Page</h5>
            <form name="RegistrationForm" method="post">
                <input name="CatId" type="text" placeholder="CategoriId" />
                <input name="ProNam" type="text" placeholder="ProductName" /> <br />
                <input name="ProDes" type="text" placeholder="ProductDescription" />
                <input name="ProPri" type="text" placeholder="ProductPrice" /> <br />
                <input name="ProSto" type="text" placeholder="ProductStock" /> <br />
                <input type="submit" value="Send" />
                
            </form>
        </div>
    </div>

</body>
</html>
