
@{
    int age = 21;
    string sentence ="";
    if (age>18)
    {
        sentence = "Yaşı 18 den büyük";
    }
    else
    {
        sentence = "Yaşı 18 den küçük veya eşit";
    }

}


<p>
    Bu Home Index sayfasıdır
    <br />
    <br />  
    
    Reşitlik durumu: @sentence

</p>